
<div  style="@ElementStyle">
    @ChildContent
</div>

@code
{
    string ElementStyle;
    [Parameter]public string Area { get; set; } = "";
    [Parameter]public bool Scrollable { get; set; }
    [Parameter]public RenderFragment ChildContent { get; set; }

    protected override void OnParametersSet()
    {
       
        var overflow = Scrollable ? "scroll" : "hidden";
    var sb = $@"
    grid-area : {Area};
    overflow : {overflow};
    ";


        ElementStyle = sb;
          
    }
}