    <div style="@BodyStyle">
        @ChildContent
    </div>

@code
{
    string BodyStyle;
    [Parameter]public string Areas { get; set; } = "";
    [Parameter]public string Columns { get; set; } = "";
    [Parameter]public string Rows { get; set; } = "";
    [Parameter]public bool Debug { get; set; }
    [Parameter]public RenderFragment ChildContent { get; set; } 

    protected override void OnParametersSet()
    {

        var sb = $@"
        grid-template-areas : {Areas};
        grid-template-columns : {Columns};
        grid-template-rows : {Rows};
        height: 100%;
        display: grid;
        
        ";
 
        BodyStyle = sb;
    }


}