@page "/tryout"

@inject Interactive<Api> Interactive

<main >
    <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>

    <div class="col-sm">
      One of three columns
    <input style="width:100%" bind="@Code"/>

    <button onchange="@Run" onclick="@Run">Eval</button>

    @foreach (var res in Results)
    {
        <p>@res</p>
    }
    </div>
  </div>
</div>



</main>


@functions{

    public string Code { get; set; }
    public List<string> Results { get; set; }



    protected override async Task OnInitAsync()
    {
        Results = new List<string>();
        await Interactive.Init();
        
        //MainViewModel.InteractiveOut = (s) => Results.Add(s);
    }

    async Task Run()
    {
        var res = await Interactive.Eval(Code);
        Results.Add(res);
        StateHasChanged();
    }

    
}